.Galery{
    height: 100%;
    padding-top: 100px;
    width: 100%;
    background: url(./1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Galery i{
    font-size: 70px;
    color:white;
    margin-left:40px;
}
.Galery i:hover{
    cursor: pointer;
    color: black;
}
.Galery h1{
    color:#ecddfd;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
}   
.GaleryBorderImage{
    border-radius: 5px;
    margin-bottom: 20px;
}
@media (max-width:1700px) {
    .GaleryBorderImage i{
    color:black;
    }
    .Galery{
        background:none;    

    }

}
