.News {
    padding-top: 100px;
    height: 100%;
    width: 100%;
    background:url(./1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.News p{
    font-size: 22px;
    color: black;


}
.News h1 {
    margin-bottom: 40px;
    font-size:41px;
    color: black;

    margin-left: 10px;
}




