.About{
    height: 100%;
    padding-top: 100px;
    width: 100%;
}
.Name{
    text-align: center;
}
.Info{

}
.AboutPage{
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    position: relative;
    max-width: 1000px;
    min-height: 200px;
    padding: 20px;
    color: #fff;
    background: rgba(0,0,0,.45);
    border: 2px solid #fff;
    border-radius: 5px;
}
